*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body{
    background-color: #ebebeb;
}

/*header*/
.main-header {
    background-color: #b15c82;
    position: fixed;
    padding: 2%;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 130px
}

.header-top {
    height: 60%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 100%;
    width: 30%;
    animation: aumentar 1s linear infinite alternate;
}

.search-bar {
    height: 25px;
    width: 50%;
    border-radius: 5px;
    padding: 2px;
}

.header-top a {
    height: 100%;
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

@keyframes aumentar {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.75);
    }
}

.header-bottom {
    height: 40%;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
}

.hamburguer-button {
    box-sizing: border-box;
    background-color: #03264C;
    color: white;
    display: flex;
    justify-content: center;
    width: fit-content;
    padding: 10px;
    height: 100%;
    border-radius: 8px;
    text-align: center;
    font-size: 100%;
    text-decoration: none;
    margin-right: 10px;
}

.hamburguer-button i {
    height: 100%;
    display: flex;
    align-items: center;
}

.main-navbar {
    display: none;
}

.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

/*navegador top*/
.nav-top{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 15px;
}
#logo{
    width: 30%;
    border-radius:  10px;
}
#search{
    width: 50%;
    height: 100%;
    align-self: center;
    padding-left: 5px;
}


/*navegador bottom*/
.nav-bottom{
    display: none;
    padding: 10px 8px;
}
.barra{
    display:block;
    margin: auto;
    text-align: center;
    max-width: 32px;
    background-color: #5a1b37;
    color: #ffffff;
    font-size: 20px;
    padding: 6px;
    border-radius: 8px;
}
.nav-bottom i{
    margin-left:5px;
}

/*Main*/

.contenedor-main{
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
    margin-bottom: 24px;
}
.imagen-producto{
    margin: 12px;
    background-color: #ffffff;
    border-radius: 7px;
    padding: 10px;
    box-shadow: 0px 1px 5px #646464;
    border-bottom: #ebebeb 1px solid;
    display: flex;
    max-width: 400px;
}
.imagen-producto img{
    width: 60%;
    margin: 0px 20%;
}
.informacion-adicional{
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}
.producto-nombre{
    font-size: 22px;
}
.producto-precio{
    font-size: 18px;
    font-weight: lighter;
}
.boton-compra{
    text-align: right;
}

.boton-compra button{
    background-color: #5a1b37;
    border-radius: 3px;
    color: #ebebeb;
    padding: 4px;
}
.lista-de-especificaciones{
    margin-top: 8px;
    margin-left: 18px;
    list-style-type: circle;
    text-indent: 5px;
    margin-bottom: 12px;
}

main {
    min-height: 100% - 154px;
}

/* footer */

.foot {
    position: relative;
    width: 100vw;
    bottom: 0px;
}

.footer {
    text-align: center;
    font-weight: bold;
    padding-top: 4px;
    background-color: #b15c82;
}

/*Media queries*/

@media (min-width: 361px) {
    .hamburguer-button {
        display: none;
    }
    .main-navbar {
        width: 100%;
        display: block;
    }
    .main-navbar ul {
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .main-navbar li {
        height: 100%;
        width: 20%;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main-navbar a {
        font-size: 1rem;
    }
    .imagen-producto{
        max-width: none;
    }
}

/*Media queries - Tablet*/

@media (min-width:769px){
    .main-header {
        height: 200px;
    }
    .main-navbar li {
        width: 25%;
        justify-content: center;
    }
    main {
        padding-top: 200px;
    }
   .productos{
    display: inline-block;
    width: 45%;
    margin: 0px 10px 25px;
   }
    .contenedor-main{
        flex-wrap: nowrap;
    }
   .informacion-adicional{
       padding: 10px;
   }
}