<footer class="foot">
    
  <section class="contenedor-top-footer">
    
    <div class="redes">
      <div>
        <a href="#" id="facebook"><i class="fab fa-facebook"></i></a>
        <a href="#" id="instagram"><i class="fab fa-instagram"></i></a>
        <a href="#" id="twitter"><i class="fab fa-twitter"></i></a>
        <a href="#" id="youtube"><i class="fab fa-youtube"></i></a>      
    </div>
    <p id="redes-p">Siganos en nuestras redes</p>
    </div>
    <div class="medios-de-pagos">
        <img src="/img/pago.webp">
        <p id="pagos-p">Medios de pago</p> 
    </div>
  </section>

  <section class="contenedor-bottom-footer">
    <div class="informacion-footer">
       <h6>Copyright © 2021 ElectroHouse T S.A.I.C.e.I.</p>
       <p>El uso de este sitio web implica la aceptación de los Términos y Condiciones y de las Políticas de Privacidad de ElectroHouse S.A.I.C.e.I. Las fotos son a modo ilustrativo. La venta de cualquiera de los productos publicados está sujeta a la verificación de stock. Los precios online para los productos presentados/publicados en www.electrohouse.com.ar y/o www.electrohouse.com son válidos exclusivamente para la compra vía internet en las páginas antes mencionadas. </p>
    </div>
    <div class="images-footer">
       <a href="#"><img src="/img/datafiscal.png" id="img1"></a>
       <a href="#"><img src="/img/datos-personales.jpg" id="img2"></a>
    </div>
  </section>

    <section class="footer">
       <p>Copyright ElectroHouse™</p>
       <a href="#">Termino y condiciones</a>
    </section>
</footer>