*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    background-color: #ebebeb;
}


/*---------------------------------------------------- main ----------------------------------------------------*/
main{
    width:70%;
    margin: auto;
    padding-top: 45%;
    padding-bottom: 15vw;
}
#TituloOferta{
    margin: 15px 0;
    font-weight: bold;
}
#link-producto{
    text-decoration: none;
    color: #000;
}
.productos{
    background-color: #ffffff;
    border-radius: 7px;
    padding: 2px 10px;
    margin-bottom: 25px;
    box-shadow: 0px 1px 5px #646464;
}
.productos img{
    width: 50%;
    margin: 5% 25%;
}
.item{
    border-bottom: #ebebeb 1px solid;
    margin: 10px;
}
.detalle{
    display: flex;
    flex-wrap: wrap;
}
#producto-nombre{
    display: block;
    font-weight: bold;
    width: 100%;
    margin-bottom: 6px;
}
#precio{
    width: 35%;
}
#descuento{
    font-style: italic;
    color: #5dbb00;
    width: 65%;
}

/*Media quires - Tablet*/

@media (min-width:768px){
   .productos{
    display: inline-block;
    width: 45%;
    margin: 0px 10px 25px;
   }
   #producto-nombre{
    margin-bottom: 7px;
    margin-top: 5px;
   }
   main{
       padding-top: 23%;
   }
}

  
   @media (min-width: 1200px) {
    #TituloOferta{
        font-size: 30px;
    }
    .ofertas {
        margin-bottom: 15%;
    }
   .productos{
    display: inline-block;
    width: 40%;
    margin: 0px 10px 25px;
    box-shadow: none;
    transition: all 0.5s;
   }
   .detalle p{
    font-size: 20px;
   }
   #precio{
    width: 25%;
   }
   #descuento{
    font-style: italic;
    color: #5dbb00;
    width: 75%;
   }
   #producto-nombre{
    opacity: 0;
    transition: all 0.5s;
   }
   #producto-nombre p{
       font-size: 10px;
   }
   .productos:hover #producto-nombre{
    opacity: 1;
   }
   .productos:hover{
    box-shadow: 0px 1px 5px #646464;
   }
   main{
       padding-top: 1%;
       padding-bottom: 5vw;
   }
}
