body {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ebebeb;
}
main{
    padding-top: 48%;
    
}
.registro h2{
    margin: 5% 0;

}
.left-register input {
    border-radius: 5px;
    border: 1px solid #d1d1d1;
    margin: 2% 5%;
    width: 87%;
    height: 14vw;
    padding: 3%;
}
.image {
    border: 1px solid #d1d1d1;
    border-radius: 6px;
    padding: 1% 5px;
    margin: 2% 7%;
}
.registro{
    background-color: #fff;
    margin-bottom: 10%;
    padding: 10%;
}
.left-register{
    text-align: center;
    margin-bottom: 15%;
}
.left-register button{
    margin-top: 5%;
}
#boton-registro {
    color: #fff;
    background-color: #003d8c;
    border: none;
    padding: 3%;
    font-size: 16px;
    border-radius: 6px;
}
#boton-ingreso{
    color: #fff;
    background-color: #003d8c;
    border: none;
    padding: 1%;
    font-size: 14px;
    border-radius: 6px; 
    margin-top: 5px;
}
#imagenes{
    border: none;
    margin: auto;
}
.errorMsg {
    color: red;
    align-content: center;
}
@media (min-width:768px){
    main{
        padding-top: 28%;
    }
    .registro {
        padding: 1% 6%;
    }
    .left-register{
        margin-bottom: 10%;
    }
    .left-register input{
        height: 8vw;
    }
    .left-register button{
        margin-top: 3%;
    }
    .right-register{
        text-align: center;
    }
}
@media (min-width:1200px){
    main{
        padding: 4% 17%;
    }
    .registro{
        border: 1px solid #6464647d;
        box-shadow: 0 0 5px #646464;
    }
    .left-register input{
        height: 5vw;
        margin: 2% 10%;
        width: 60%;
    }
    .left-register{
        margin-bottom: 8%;
    }
    .registro h2{
        margin: 4% 0;
        text-align: center;
        font-size: 46px;
    }
    #boton-registro{
        display: block;
        margin: auto;
        margin-top: 3%;
        transition: all 450ms;
    }
    #boton-registro:hover{
        color: #000;
        background-color: #ebebeb;
        box-shadow: 0 0 5px;
    }
    .left-register a{
        text-decoration: none;
    }
    .right-register{
        margin-bottom: 3%;
    }
    .image{
        margin: 2% 20%;
    }
}