<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/index.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9f35c4fd09.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet"> 
    <title>Inicio</title>
</head> 
<body>
  <header class="main-header">
    <div class="header-top">
      <img src="./img/logo.svg" class="logo">
      <input type="search" name="" id="" placeholder="Buscar Productos" class="search-bar">
      <a href="#"><i class="fas fa-shopping-cart"></i></a>
    </div>
    <div class="header-bottom">
      <a href="#" class="hamburguer-button">
        <i class="fas fa-bars"></i>
      </a>
      <nav class="main-navbar">
        <ul>
          <li><a href="#">Sucursales</a></li>
          <li><a href="#">Centro de Ayuda</a></li>
          <li><a href="/registro">Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
          <li><a href="/ingreso">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
        </ul>
      </nav>
    </div>
  </header>

 <main>
   <section class="ofertas">
    <h3 id="TituloOferta">Ofertas</h3>
     <article class="productos">
         <div class="item">
           <img src="./img/img-tv-samsung-smart.jpg">
         </div>
         <div class="detalle">
           <p id="producto-nombre">Nombre del producto</p>
           <p id="precio">$80.000</p>
           <p id="descuento">50% OFF</p>
         </div>
     </article>

     <article class="productos">
      <div class="item">
        <img src="./img/producto-ejemplo.png">
      </div>
      <div class="detalle">
        <p id="producto-nombre">Nombre del producto</p>
        <p id="precio">$5.000</p>
        <p id="descuento"></p>
      </div>
     </article>

     <article class="productos">
      <div class="item">
        <img src="./img/producto-ejemplo.png">
      </div>
      <div class="detalle">
        <p id="producto-nombre">Nombre del producto</p>
        <p id="precio">$180.000</p>
        <p id="descuento">20% OFF</p>
      </div>
     </article>

   </section>
 </main>

 <footer>
   <p>Copyright Tienda11™</p>
 </footer>
</body>
</html>