<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/index.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/productDetail.css">
    <script src="https://kit.fontawesome.com/9f35c4fd09.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet"> 
    <title>ProductDetail</title>
</head>
<body>
    <header class="main-header">
        <div class="header-top">
            <a href="/"><img src="./img/logo.svg" class="logo"></a>
          <input type="search" name="" id="" placeholder="Buscar Productos" class="search-bar">
          <a href="carrito-de-compras"><i class="fas fa-shopping-cart"></i></a>
        </div>
        <div class="header-bottom">
          <a href="#" class="hamburguer-button">
            <i class="fas fa-bars"></i>
          </a>
          <nav class="main-navbar">
            <ul>
              <li><a href="#">Sucursales</a></li>
              <li><a href="#">Centro de Ayuda</a></li>
              <li><a href="/registro">Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
              <li><a href="/ingreso">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            </ul>
          </nav>
        </div>
      </header>
      
      <main>
          <div class="contenedor-main">
              <div class="imagen-producto"><img src="./img/img-tv-samsung-smart.jpg"></div>
              <div class="informacion-adicional">
                  <div><h3 class="producto-nombre">Samsung Smart TV</h3></div>
                  <div><h3 class="producto-precio">$80.000</h3></div>
                  <div class="boton-compra">
                      <button type="submit">Agregar al carrito</button>
                  </div>
              </div>
          </div>
          <div class="producto-especificaciones">
              <h4 class="titular-especificaciones">Especificaciones Técnicas</h4>
              <ul class="lista-de-especificaciones">
                  <li class="item-lista">Alto: 60cm</li>
                  <li class="item-lista">Ancho: 98cm</li>
                  <li class="item-lista">Profundidad: 18cm</li>
                  <li class="item-lista">Garantía: 12 meses</li>
                  <li class="item-lista">Tipo de sonido: Estéreo</li>
                  <li class="item-lista">Puertos USB: No</li>
                  <li class="item-lista">HDMI: Sí</li>
              </ul>
          </div>
      </main>
      
      <footer class="foot">
        <p class="footer">Copyright Tienda11™</p>
      </footer>
    
</body>
</html>