<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/productCart.css">
    <script src="https://kit.fontawesome.com/9f35c4fd09.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet"> 
    <title>ProductCart</title>
</head>
<body>
    <header class="main-header">
        <div class="header-top">
          <a href="/"><img src="./img/logo.svg" class="logo"></a>
          <input type="search" name="" id="" placeholder="Buscar Productos" class="search-bar">
          <a href="carrito-de-compras"><i class="fas fa-shopping-cart"></i></a>
        </div>
        <div class="header-bottom">
          <a href="#" class="hamburguer-button">
            <i class="fas fa-bars"></i>
          </a>
          <nav class="main-navbar">
            <ul>
              <li><a href="#">Sucursales</a></li>
              <li><a href="#">Centro de Ayuda</a></li>
              <li><a href="/registro">Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
              <li><a href="/ingreso">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            </ul>
          </nav>
        </div>
      </header>
      
      <main>
          <h2 class="titulo-principal">Mi carrito</h2>
          <div class="contenedor-main">
              <div class="detalle-compra">
                <div class="descripcion-producto"><img src="./img/img-tv-samsung-smart.jpg"></div>
                <div class="producto-leyenda">
                <div class="producto-nombre"><h3>Samsung Smart TV</h3></div>
                <div class="opciones-producto">
                    <div class="producto-precio"><h4>$80.000</h4></div>
                    <div class="cantidad"><label for="cantidad">Cantidad: </label><select name="cantidad">
                    <option name="cantidad" value="1">1</option>
                    <option name="cantidad" value="2">2</option>
                    <option name="cantidad" value="3">3</option>
                    <option name="cantidad" value="4">4</option>
                    <option name="cantidad" value="5">5</option>
                    <option name="cantidad" value="6">6</option>
                    <option name="cantidad" value="7">7</option>
                    <option name="cantidad" value="8">8</option>
                </select>
            </div>
                
                <div class="eliminar"><a href="#"><i class="fas fa-trash-alt"></i></a></div>
            </div>
            </div>
              </div>
              <div class="cuadro-total">
              <div class="cuadro-subtotal">
                  <h3 class="subtotal">SUBTOTAL: $80.000</h3>
                  <h3 class="total">TOTAL: $80.000</h3>
              </div>
              <div class="boton-compra"><button type="submit">Finalizar compra</button></div>
            </div>
          </div>
      </main>
      <footer class="foot">
        <p class="footer">Copyright Tienda11™</p>
      </footer>
</body>
</html>