<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs') %>
        <link href="/css/detalle-del-producto.css" rel="stylesheet">
        <title><%= categoria.id %></title>
    </head>
<body>
      <%- include('partials/header.ejs') %>

    <main>
        
    </main>


    <footer class="foot">
        <%- include('partials/footer.ejs') %>
    </footer>
</body>
</html>