<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="/css/editar-producto.css">
    <title>Crear producto</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <main>
        <div class="editar">
        <h2>Editar producto existente</h2>
        <form action="/" method="GET">
            <label for="nombre">Nombre del producto</label>
            <div class="campos-form">
                <input type="text" name="nombre" id="nombre" placeholder="Nombre del producto"><i class="far fa-edit"></i>
            </div>
            <label for="descripcion">Descripción:</label>
            <div class="campos-form">
                <input type="text" name="descripcion" id="descripcion" placeholder="Descripción"><i class="far fa-edit"></i>
            </div>
            <label for="imagen">Imágenes: </label>
            <input type="file" name="imagen" id="imagen" accept=".jpg, .png" multiple>
            <p class="imagen-existente"><i class="far fa-image"></i>    Imagen del producto           <i class="fas fa-times"></i></p>

            <label for="categoria">Categorias: </label>
            <select name="categoria">
                <option value=""selected></option>
                <option value="muebles">Muebles</option>
                <option value="baño">Baño</option>
                <option value="televisores">Televisores</option>
            </select>

            <label for="colores">Colores: </label>
            <select name="colores">
                <option value=""selected></option>
                <option value="azul">Azul</option>
                <option value="negro">Negro</option>
                <option value="blanco">Blanco</option>
            </select>

            <label for="precio">Precio: </label>
            <div class="campos-form">
                <input type="number" id="precio" min="1" placeholder="$0"><i class="far fa-edit"></i>
            </div>
            <div class="botones">
                <button type="submit">Guardar</button>
                <button id="boton-reset" type="reset">Descartar cambios</button>
            </div>
        </div>
        </form>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>