<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <link href="./css/register.css" rel="stylesheet">
    <title>Registro</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    
    <main class="main-register">
        <section class="registro">
            <h2>REGISTRO</h2>
        <form action="/" method="POST">
        <div class="left-register">
            
                <input type="text" name="nameRegister" id="nameRegister" placeholder="Nombre completo">
            
                <input type="text" name="apellidoRegister" id="apellidoRegister" placeholder="Apellido">
            
                <input type="email" name="emailRegister" id="emailRegister" placeholder="Correo electrónico">
            
                <input type="password" name="passwordRegister" id="passwordRegister" placeholder="Contraseña">
            
                <input type="password" name="passConfirmRegister" id="passConfirmRegister" placeholder="Confirmar contraseña">

                <a href="/"><button type="submit" id="boton-registro">Registrarme</button></a>
        </div>
        <div class="right-register">
                <label for="boton-ingreso">¿Ya tenés una cuenta?</label>
                <a href="/ingreso"><button id="boton-ingreso">Ingresar</button></a>
        </div>
    </form>
    </section>
    </main>
    <footer  class="foot">
        <%- include('partials/footer.ejs') %>
    </footer>
</body>
</html>