<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <link href="./css/register.css" rel="stylesheet">
    <title>Registro</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    
    <main class="main-register">
        <div class="left-register">
            <div class="register-row">
                <label for="nameRegister">Nombre</label>
                <input type="text" name="nameRegister" id="nameRegister">
            </div>
            <div class="register-row">
                <label for="apellidoRegister">Apellido</label>
                <input type="text" name="apellidoRegister" id="apellidoRegister">
            </div>
            <div class="register-row">
                <label for="emailegister">Email</label>
                <input type="email" name="emailRegister" id="emailRegister">
            </div>
            <div class="register-row">
                <label for="passwordRegister">Contraseña</label>
                <input type="password" name="passwordRegister" id="passwordRegister">
            </div>
            <div class="register-row">
                <label for="passConfirmRegister">Confirmar Contraseña</label>
                <input type="password" name="passConfirmRegister" id="passConfirmRegister">
            </div>
            <div class="register-row">
                <a href="/"><button>Registrarme</button></a>
            </div>
        </div>
        <div class="right-register">
            <div class="register-row">
                <label for="loginBtn">¿Ya tenés una cuenta?</label>
                <a href="/ingreso" style="margin-top: 5px;"><button id="loginBtn">Ingresar</button></a>
            </div>
        </div>
    </main>
    <footer  class="foot">
        <%- include('partials/footer.ejs') %>
    </footer>
</body>
</html>